
@import "tailwindcss";
/* LoadingState */
.signUpPfImg{
  object-fit:cover;
}
.postImgPf{
  object-fit: cover;
}
.containerSignup{
  display: flex;
  justify-content: center;
  position: relative;
}
.pfCircle{
  margin-top: 6em;
}
@media (max-width : 730px) {
  .containerSignup{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 4rem 0px;
  }
  .pfCircle{
    position: absolute;
    top: 0;
    margin-top: -2rem;
    width: 3.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3.6rem;
  }
  
}
@media (max-width:400px) {
  .likesCom{
    display: none;
  }
  .createPst{
padding: 20px;
  }
  .submitBtn{
    margin-top: .15rem;
  }
  .postContainer{
    width: 100%;
    padding: 0;
  }
  .indexPost{
    padding: .25rem .25rem;
  }
}